*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter, sans-serif;
  background:#0f172a;
  height:100vh;
  overflow:hidden;
}

/* APP */
.app{
  position:relative;
  width:100%;
  height:100vh;
}

/* HEADER */
.header{
  position:absolute;
  top:10px;
  left:50%;
  transform:translateX(-50%);
  z-index:1000;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(12px);
  padding:10px 18px;
  border-radius:14px;
  color:rgb(14, 13, 13);
  font-weight:600;
}

/* MODE BUTTONS */
.mode-buttons{
  position:absolute;
  top:60px;
  left:50%;
  transform:translateX(-50%);
  display:flex;
  gap:8px;
  z-index:1000;
}

.mode-buttons button{
  border:none;
  padding:8px 14px;
  border-radius:10px;
  background:rgba(4, 4, 4, 0.15);
  color:rgb(12, 12, 12);
  cursor:pointer;
  transition:.3s;
}

.mode-buttons button.active{
  background:#0ea5e9;
  box-shadow:0 0 12px rgba(14,165,233,.6);
}

/* MAP STYLE SELECTOR */
.map-style{
  position:absolute;
  top:110px;
  right:15px;
  z-index:1000;
}

.map-style select{
  padding:8px 10px;
  border:none;
  border-radius:10px;
  background:rgba(255,255,255,0.15);
  color:rgb(14, 13, 13);
  backdrop-filter:blur(10px);
  font-weight:600;
  cursor:pointer;
}

/* MOBILE */
@media(max-width:768px){
  .map-style{
    top:95px;
    right:10px;
  }
}

/* SEARCH PANEL */
.search-panel{
  position:absolute;
  top:110px;
  left:50%;
  transform:translateX(-50%);
  z-index:1000;
  display:flex;
  gap:8px;
  background:rgba(255,255,255,0.1);
  backdrop-filter:blur(10px);
  padding:10px;
  border-radius:12px;
}

.search-panel input{
  border:none;
  padding:8px;
  border-radius:8px;
  width:200px;
}

.search-panel button{
  border:none;
  padding:8px 12px;
  border-radius:8px;
  background:#22c55e;
  color:white;
}

.hidden{
  display:none;
}

/* MAP */
#map{
  width:100%;
  height:100%;
}

/* FLOATING INFO PANEL */
.info-panel{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background:rgba(15,23,42,0.9);
  backdrop-filter:blur(12px);
  padding:14px;
  border-radius:18px 18px 0 0;
  z-index:1000;
  animation:slideUp .5s ease;
}

.info-row{
  display:flex;
  justify-content:space-between;
  padding:8px 0;
  border-bottom:1px solid rgba(255,255,255,0.1);
  color:white;
}

.info-row:last-child{
  border:none;
}

/* MOBILE */
@media(max-width:768px){

  .header{
    top:8px;
    font-size:.9rem;
  }

  .mode-buttons{
    top:50px;
    width:90%;
  }

  .mode-buttons button{
    flex:1;
    font-size:.85rem;
  }

  .search-panel{
    width:90%;
    top:95px;
  }

  .search-panel input{
    width:100%;
  }
}

/* ANIMATION */
@keyframes slideUp{
  from{transform:translateY(100%);}
  to{transform:translateY(0);}
}